.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.footer {
  display: flex;
  height: 5px;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  position: sticky;
  align-items: center;
  top: 100%;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}